<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Join Club Confirmation</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>
	<div>
		<h1>Join the Pokemon Fan Club</h1>
		<p>
			Thanks for joining <strong><%- name %></strong>!
			<br>You've been added to our roster and mailing list with the following email: <strong><%- email %></strong>.
			<br>Return to the home screen to find others in the Pokemon fan club who also enjoy <strong><%- type %>-Type</strong> pokemon!
			<br>Additionally, return to the home screen to find out more about your favorite pokemon!
		</p>
		<hr>
		<a href="/">RETURN HOME</a>
	</div>
</body>

</html>
