<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Find Out More</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>
	<div>
		<h1>Find out more about your favorite pokemon!</h1>
		<form method="post">
			<fieldset>
				<p>Enter the name of a pokemon to find out more or enter your email and we'll use your favorite pokemon!</p>
				<label><strong>Favorite Pokemon </strong><input type="text" name="favorite"/></label><br><br>
				<label><strong>Lookup By Email </strong><input type="text" name="email"/></label><br><br>
			</fieldset>
			<br>
			<button type="submit">Lookup Pokemon</button>
		</form>
		<hr>
		<a href="/"><button type="button">RETURN HOME</button></a>
	</div>
</body>

</html>
