<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display Type</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>
	<div>
		<h1>Display all users with the same favorite type</h1>
		<form method="post">
			<fieldset>
				<label><strong>Favorite Pokemon </strong><input type="text" name="favorite"/></label><br><br>
			</fieldset>
			<br>
			<button type="submit">Lookup Pokemon</button>
		</form>
		<hr>
		<a href="/"><button type="button">HOME</button></a>
	</div>
</body>

</html>
