<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Find Others</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>



<body>
	<div>
		<h1>Display all users with the same favorite type or favorite pokemon!</h1>
		<form method="post">
			<fieldset>
				<label><strong>Favorite Type </strong><select name="type">
					<option>Normal</option>
					<option>Fire</option>
					<option>Water</option>
					<option>Grass</option>
					<option>Electric</option>
					<option>Ice</option>
					<option>Fighting</option>
					<option>Poison</option>
					<option>Ground</option>
					<option>Flying</option>
					<option>Psychic</option>
					<option>Bug</option>
					<option>Rock</option>
					<option>Ghost</option>
					<option>Dragon</option>
					<option>Dark</option>
					<option>Steel</option>
					<option>Fairy</option>
				</select></label><br><br>
				<label><strong>Favorite Pokemon </strong><input type="text" name="pokemon"/></label><br><br>
				<label><strong>Sort By </strong><select name="filter" required>
					<option>Type</option>
					<option>Pokemon</option>
					<option>Both</option>
				</select></label><br>
			</fieldset>
			<br>
			<button type="submit">Lookup Fellow Club Members</button>
		</form>
		<hr>
		<a href="/"><button type="button">RETURN HOME</button></a>
	</div>
</body>

</html>
