<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Fan Club!</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <h1>Welcome to the Pokemon Fan Club Finder</h1>
    <p>
        Welcome to the pokemon fan club finder application, use this website to join the fan club and 
        begin finding others who share similar pokemon interests!
    </p>
    <div>
        <img src="charizard.png">    
    </div>
    <br><br>
    <div>
        <a href="/apply"><button type="button">Apply to the club</button></a><br><br>
        <a href="/displayType"><button type="button">Find your type fan club</button></a><br><br>
        <a href="/displayFavorite"><button type="button">Find out more about your favorite pokemon</button></a><br>
    </div>
    <br><br>
</body>

</html>
