<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Fan Club</title>
</head>

<body>
	<h1>Welcome to Pokemon Fan Club Homepage</h1>

	<h2>Applicant</h2>
		<ul>
			<li>To apply select <a href="/apply">Application</a><br></li>
			<li>To review/update an application select <a href="/reviewApplication">Review Application</a><br></li>
		</ul>
	<hr>
</body>

</html>
