<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Fan Club!</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <h1>Welcome to the Pokemon Fan Club Finder</h1>
    <p>
        Welcome to the pokemon fan club finder application, use this website to join the fan club and 
        begin finding others who share similar pokemon interests!
    </p>
    <div>
        <img src="charizard.png">    
    </div>
    <br><br>
    <div>
        Apply to the club: <a href="/apply">APPLY</a><br><br>
        Find your type fan club: <a href="/displayType">TYPE FAN CLUB</a><br><br>   
        Find out more about your favorite pokemon: <a href="/displayFavorite">FAVORITE POKEMON</a>
    </div>
    <br><br>
</body>

</html>
