<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Fan Club!</title>
    <link rel="stylesheet" href="stylesheet.css">
    <style>
        image {
            float: right;
        }
        p {
            float: left;
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome to the Pokemon Fan Club Finder</h1>
        <p>
            Welcome to the pokemon fan club finder application, use this website to join the fan club and 
            begin finding others who share similar pokemon interests!
        </p>
        <image src="charizard.png">
        <br><br>
        <a href="/apply">CLICK HERE TO APPLY</a><br>
        <a href="/displayType">CLICK HERE TO SEE YOUR TYPE FAN CLUB</a><br>
        <br>
    </div>
</body>

</html>
