<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>


<body>
	<h1>Info about <%- pokemon %></h1>
	<%- info %>
	<br>
	<a href="/">HOME</a>
</body>

</html>
