<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<style>
	html {
		background-image: url("pokemon_shadow.png");
		background-size: 100%;
		font-size: 32px;
	}
	h1, a {
		color: red;
		text-align: center;
	}
	div {
		background-color: rgba(255, 255, 255, 0.8);
		margin: 4rem;
		padding: 2rem;
		border-style: solid;
		border-color: black;
	}
</style>

<body>
	<h1>Display all users with the same favorite type</h1>
	<%- chart %>
	<br>
	<a href="/">HOME</a>
</body>

</html>
