<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Results</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>


<body>
	<h1>The following is all users with the same favorite <%- filter %></h1>
	<%- chart %>
	<br>
	<a href="/"><button type="button">HOME</button></a>
</body>

</html>
